<mat-form-field class="beat-details">
  <mat-chip-list #tagList aria-label="Tags selection">
    <mat-chip *ngFor="let beatTag of beatTags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(beatTag)">
      {{beatTag.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Tags (30)"
           [matChipInputFor]="tagList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
