.hms-cards-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 28px;
}

.hms-cards-container > *:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hms-delete-button,
.hms-complete-button{
  cursor: pointer;
  display: flex;
}

::ng-deep snack-bar-container.hms-completed-activity-snackbar {
  background-color: darkgreen;
  margin-top: 160px;
  color: white;
}
