<h1 mat-dialog-title>Add a new bill</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <form [formGroup]="newBillForm" novalidate>
    <mat-form-field class="form-group">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter name of the bill" formControlName="billName">
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Category</mat-label>
      <mat-select formControlName="billCategory" required>
        <mat-option *ngFor="let category of billCategories"
                    [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Value</mat-label>
      <input type="number" matInput placeholder="Enter value of the bill" formControlName="billValue">
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Due date</mat-label>
      <input matInput [matDatepicker]="dueDatePicker" class="form-control" formControlName="dueDate" required>
      <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker></mat-datepicker>
    </mat-form-field>
  </form>
  <button type="submit" class="btn btn-primary" (click)="submitBillForm()">Submit</button>
  <button class="btn btn-danger" (click)="cancelCard()">Cancel</button>
</div>
