::ng-deep snack-bar-container.hms-card-dialog-snackbar {
  background-color: #543C52;
  margin-top: 160px;
  color: #FFFFFF;
}

.mat-dialog-content {
  margin-top: 20px;
}

.btn {
  margin-right: 10px;
}
