.beat-creator-stepper-head-image img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-left: -250px;
  border-radius: 50px;

}

.beat-creator-stepper-title {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding-left: 30px;
}
